body, header, ul, ol, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body{
    background: #ffffff;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

section {
    width: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    /* background: black; */
}

#toggle:checked + #navigation-section {
    display: block;
}